.canvas-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 1100px;
  display: flex;
  margin-top: 2rem;
}

.game-info-wrapper {
  height: 705px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

dialog {
  border: none;
  background: #202020;
}
