.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.player-container {
  background-color: #202020;
  border: 2px solid black;
  width: 20rem;
  grid-area: 1 / 4 / 5 / 6;
  position: absolute;
  top: 125px;
  left: 63vw;
  padding-bottom: 10px;
  color: white;
}

h3 {
  font-family: "VT323", monospace;
  color: #d7db2c;
  margin-bottom: 2px;
  font-size: 2rem;
  margin-top: 5px;
}
