.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.player-container {
  border: 2px solid black;
  width: 20rem;
  grid-area: 1 / 4 / 5 / 6;
  position: absolute;
  top: 80px;
  left: 63vw;
}
